    <div class="card mb-5" style="width: 18rem;">
        <div class="card-body">
        <img src="/assets/img/pr-bosch-toolkit.png" class="card-image" alt="">
          <h5 class="card-title">Bosch Power Drill</h5>
          <div class="container">
              <div class="row">
                  <div class="col rating-label">
                    <div class="star-widget">
                        <input type="radio" name="rate" id="rate-5">
                        <label for="rate-5" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-4">
                        <label for="rate-4" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-3">
                        <label for="rate-3" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-2">
                        <label for="rate-2" class="fas fa-star"></label>
                        <input type="radio" name="rate" id="rate-1">
                        <label for="rate-1" class="fas fa-star"></label>
                          </div>
                  </div>
                  <div class="col price-label">
                     R400.50
                </div>
              </div>
              <span class="stock-label"><p>4 items left</p></span>
          </div>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
